In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import ast

In [2]:
problems = pd.read_csv("./../dataset/feature-extraction/problems_with_features.csv")
problems.drop(["Unnamed: 0"], axis=1, inplace=True)

# problems DataFrame
 # Moves column
problem_list = []
for problem in problems["Moves"].values:
    problem_as_lst = ast.literal_eval(problem)
    problem_list.append(problem_as_lst)
problems["Moves"] = problem_list

 # lengths_of_moves column
problem_list = []
for value in problems["lengths_of_moves"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
problems["lengths_of_moves"] = problem_list

 # holds column
problem_list = []
for value in problems["holds"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
problems["holds"] = problem_list


# list of alphabet
alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]

grades_numeric_order = {"6B+":1.5,"6C":2,"6C+":3,"7A":4,"7A+":5,"7B":6,"7B+":7,"7C":8,"7C+":9,"8A":10,"8A+":11,"8B":12}


# returns euclidean distance between two holds:
def eucl_dist(hold1, hold2):
    # hold1 as numpy array
    x_coord = alphabet.index(hold1[0].upper())
    y_coord = int(hold1[1:])
    hold1_tuple = tuple((x_coord, y_coord))
    hold1 = np.array(hold1_tuple)
    
    # hold2 as numpy array
    x_coord = alphabet.index(hold2[0].upper())
    y_coord = int(hold2[1:])
    hold2_tuple = tuple((x_coord, y_coord))  
    hold2 = np.array(hold2_tuple)  
    
    # distance
    dist = np.linalg.norm(hold1-hold2)
    
    return dist

def lengths_of_moves(DataFrame):
    listOfLenDicts = []
    for i in range(DataFrame.shape[0]):  
        holds = DataFrame.loc[i]["holds"]
        lenDict = {}
        for hold1 in holds:
            for hold2 in holds:
                test_name1 = hold1 + "to" + hold2
                test_name2 = hold2 + "to" + hold1
                if (hold1 == hold2):
                    pass
                elif test_name1 in lenDict.keys():
                    pass
                elif test_name2 in lenDict.keys():
                    pass                                
                else:
                    lenDict[hold1 + "to" + hold2] = eucl_dist(hold1, hold2)
        listOfLenDicts.append(lenDict)
    DataFrame["lengths_of_moves"] = listOfLenDicts
    return DataFrame

def numeric_grades(DataFrame):
    numeric_grades = []
    for i in range(DataFrame.shape[0]):  
        grade = DataFrame.loc[i]["Grade"]
        numeric_grade = grades_numeric_order[grade]
        numeric_grades.append(1.5 ** numeric_grade)

    DataFrame["numeric_grades"] = numeric_grades
    return DataFrame


lengths_of_moves(problems)
numeric_grades(problems)

# problems.drop(["Unnamed: 0"], axis=1, inplace=True)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039
...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000

In [3]:
problems.head()

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039

In [4]:
holds = pd.read_csv("./../dataset/feature-extraction/holds_with_features.csv")
holds.drop(["Unnamed: 0"], axis=1, inplace=True)

 # rotational_angle column
problem_list = []
for value in holds["rotational_angle"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["rotational_angle"] = problem_list

 # grade_distribution column
problem_list = []
for value in holds["grade_distribution"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["grade_distribution"] = problem_list

In [5]:
holds.head()

,name,grade_distribution,color,black,white,yellow,force_z,rotational_angle,slopeness
0,A5,"{'6B+': 5, '6C': 4, '6C+': 7, '7A': 9, '7A+': ...",white,0,1,0,0,[4],NaN
1,A9,"{'6B+': 2, '6C': 4, '6C+': 1, '7A': 2, '7A+': ...",black,1,0,0,1,[3],NaN
2,A10,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN
3,A11,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN
4,A12,"{'6B+': 0, '6C': 0, '6C+': 1, '7A': 1, '7A+': ...",white,0,1,0,0,[4],NaN

In [6]:
grades_numeric_order = {
    "6B+":1.5,
    "6C":2,
    "6C+":3,
    "7A":4,
    "7A+":5,
    "7B":6,
    "7B+":7,
    "7C":8,
    "7C+":9,
    "8A":10,
    "8A+":11,
    "8B":12
}


grades_numeric = {}

for grade in grades_numeric_order:
    grades_numeric[grade] = 1.5**grades_numeric_order[grade]

grades_numeric

{'6B+': 1.8371173070873836,
 '6C': 2.25,
 '6C+': 3.375,
 '7A': 5.0625,
 '7A+': 7.59375,
 '7B': 11.390625,
 '7B+': 17.0859375,
 '7C': 25.62890625,
 '7C+': 38.443359375,
 '8A': 57.6650390625,
 '8A+': 86.49755859375,
 '8B': 129.746337890625}

In [7]:
holds

,name,grade_distribution,color,black,white,yellow,force_z,rotational_angle,slopeness
0,A5,"{'6B+': 5, '6C': 4, '6C+': 7, '7A': 9, '7A+': ...",white,0,1,0,0,[4],NaN
1,A9,"{'6B+': 2, '6C': 4, '6C+': 1, '7A': 2, '7A+': ...",black,1,0,0,1,[3],NaN
2,A10,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN
3,A11,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN
4,A12,"{'6B+': 0, '6C': 0, '6C+': 1, '7A': 1, '7A+': ...",white,0,1,0,0,[4],NaN
...,...,...,...,...,...,...,...,...,...
135,K12,"{'6B+': 1, '6C': 1, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,"[5, 3]",NaN
136,K13,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[4],NaN
137,K14,"{'6B+': 0, '6C': 1, '6C+': 2, '7A': 0, '7A+': ...",black,1,0,0,2,[5],NaN
138,K16,"{'6B+': 1, '6C': 1, '6C+': 0, '7A': 0, '7A+': ...",black,1,0,0,1,[4],NaN
139,K18,"{'6B+': 5, '6C': 5, '6C+': 4, '7A': 4, '7A+': ...",white,0,1,0,2,[4],NaN

In [10]:
holds.loc[holds["name"]=="H18", "grade_distribution"].item()

{'6B+': 0,
 '6C': 0,
 '6C+': 4,
 '7A': 1,
 '7A+': 4,
 '7B': 3,
 '7B+': 2,
 '7C': 5,
 '7C+': 6,
 '8A': 3,
 '8A+': 0,
 '8B': 1}

In [16]:
def mean_grade_of_hold(name):
    grade_dist = holds.loc[holds["name"]==name, "grade_distribution"].item()
    total = 0
    mean = 0
    for grade in grade_dist:
        total += grade_dist[grade]*grades_numeric[grade]
    return total/sum(grade_dist.values())

In [ ]:
def median_grade_of_hold(name):
    grade_dist = holds.loc[holds["name"]==name, "grade_distribution"].item()
    total = 0
    mean = 0
    for grade in grade_dist:
        total += grade_dist[grade]*grades_numeric[grade]
    return total/sum(grade_dist.values())

In [28]:
mean_grade_of_hold("H15")

44.079345703125

In [18]:
grades_numeric

{'6B+': 1.8371173070873836,
 '6C': 2.25,
 '6C+': 3.375,
 '7A': 5.0625,
 '7A+': 7.59375,
 '7B': 11.390625,
 '7B+': 17.0859375,
 '7C': 25.62890625,
 '7C+': 38.443359375,
 '8A': 57.6650390625,
 '8A+': 86.49755859375,
 '8B': 129.746337890625}