In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import ast

In [2]:
# functions defs

In [3]:
problems = pd.read_csv("./../dataset/feature-extraction/problems_with_features.csv")
problems.drop(["Unnamed: 0"], axis=1, inplace=True)

# problems DataFrame
 # Moves column
problem_list = []
for problem in problems["Moves"].values:
    problem_as_lst = ast.literal_eval(problem)
    problem_list.append(problem_as_lst)
problems["Moves"] = problem_list

 # lengths_of_moves column
problem_list = []
for value in problems["lengths_of_moves"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
problems["lengths_of_moves"] = problem_list

 # holds column
problem_list = []
for value in problems["holds"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
problems["holds"] = problem_list


# list of alphabet
alphabet = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]

grades_numeric_order = {"6B+":1,"6C":2,"6C+":3,"7A":4,"7A+":5,"7B":6,"7B+":7,"7C":8,"7C+":9,"8A":10,"8A+":11,"8B":12}


# returns euclidean distance between two holds:
def eucl_dist(hold1, hold2):
    # hold1 as numpy array
    x_coord = alphabet.index(hold1[0].upper())
    y_coord = int(hold1[1:])
    hold1_tuple = tuple((x_coord, y_coord))
    hold1 = np.array(hold1_tuple)
    
    # hold2 as numpy array
    x_coord = alphabet.index(hold2[0].upper())
    y_coord = int(hold2[1:])
    hold2_tuple = tuple((x_coord, y_coord))  
    hold2 = np.array(hold2_tuple)  
    
    # distance
    dist = np.linalg.norm(hold1-hold2)
    
    return dist

def lengths_of_moves(DataFrame):
    listOfLenDicts = []
    for i in range(DataFrame.shape[0]):  
        holds = DataFrame.loc[i]["holds"]
        lenDict = {}
        for hold1 in holds:
            for hold2 in holds:
                test_name1 = hold1 + "to" + hold2
                test_name2 = hold2 + "to" + hold1
                if (hold1 == hold2):
                    pass
                elif test_name1 in lenDict.keys():
                    pass
                elif test_name2 in lenDict.keys():
                    pass                                
                else:
                    lenDict[hold1 + "to" + hold2] = eucl_dist(hold1, hold2)
        listOfLenDicts.append(lenDict)
    DataFrame["lengths_of_moves"] = listOfLenDicts
    return DataFrame

def numeric_grades(DataFrame):
    numeric_grades = []
    for i in range(DataFrame.shape[0]):  
        grade = DataFrame.loc[i]["Grade"]
        numeric_grade = grades_numeric_order[grade]
        numeric_grades.append(1.5 ** numeric_grade)

    DataFrame["numeric_grades"] = numeric_grades
    return DataFrame


lengths_of_moves(problems)
numeric_grades(problems)

# problems.drop(["Unnamed: 0"], axis=1, inplace=True)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039
...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000

In [4]:
grades_numeric_order = {
    "6B+":1,
    "6C":2,
    "6C+":3,
    "7A":4,
    "7A+":5,
    "7B":6,
    "7B+":7,
    "7C":8,
    "7C+":9,
    "8A":10,
    "8A+":11,
    "8B":12
}


grades_numeric = {}

for grade in grades_numeric_order:
    grades_numeric[grade] = 1.5**grades_numeric_order[grade]

In [5]:
holds = pd.read_csv("./../dataset/feature-extraction/holds_with_features.csv")
holds.drop(["Unnamed: 0"], axis=1, inplace=True)

 # rotational_angle column
problem_list = []
for value in holds["rotational_angle"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["rotational_angle"] = problem_list

 # grade_distribution column
problem_list = []
for value in holds["grade_distribution"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["grade_distribution"] = problem_list

In [6]:
def median_grade_of_hold(name):
    grade_dist = holds.loc[holds["name"]==name, "grade_distribution"].item()
    total = []
    mean = 0
    for grade in grade_dist:
        for i in range(grade_dist[grade]):
            total.append(grades_numeric[grade])
    return total[len(total)//2]

In [7]:
def mean_grade_of_hold(name):
    grade_dist = holds.loc[holds["name"]==name, "grade_distribution"].item()
    total = 0
    mean = 0
    for grade in grade_dist:
        total += grade_dist[grade]*grades_numeric[grade]
    return total/sum(grade_dist.values())

In [8]:
def median_diff_grade_of_holds(DataFrame):
    median_diff_list = []    
    for i in range(len(DataFrame)):
        route_holds_grades = []
        holds = DataFrame.loc[i,"holds"]
        for hold in holds:
            if hold[0].islower():
                pass
            else:
                route_holds_grades.append(median_grade_of_hold(hold))
        route_holds_grades.sort()
        if len(route_holds_grades)%2 != 0:   
            median_diff_list.append(route_holds_grades[len(route_holds_grades)//2])
        else:
            median_diff_list.append((route_holds_grades[len(route_holds_grades)//2]+route_holds_grades[len(route_holds_grades)//2-1])/2)
        
    DataFrame["median_diff_holds"] = median_diff_list  
        
    return DataFrame
median_diff_grade_of_holds(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906
...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500

In [9]:
def mean_diff_grade_of_holds(DataFrame):
    mean_diff_list = []    
    for i in range(len(DataFrame)):
        route_holds_grades = []
        holds = DataFrame.loc[i,"holds"]
        for hold in holds:
            if hold[0].islower():
                pass
            else:
                route_holds_grades.append(mean_grade_of_hold(hold))
        mean_diff_list.append(sum(route_holds_grades)/len(route_holds_grades))

    DataFrame["mean_diff_holds"] = mean_diff_list  
        
    return DataFrame

mean_diff_grade_of_holds(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236
...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323

In [10]:
def mean_grade(DataFrame):
    mean_list = []
    for i in range(len(DataFrame)):
        if DataFrame.loc[i,"name"] == "H13":
            mean_list.append(0)
        else:
            mean_list.append(mean_grade_of_hold(DataFrame.loc[i,"name"]))
    DataFrame["mean_grade"] = mean_list
    return DataFrame

In [11]:
def median_grade(DataFrame):
    median_list = []
    for i in range(len(DataFrame)):
        if DataFrame.loc[i,"name"] == "H13":
            median_list.append(0)
        else:
            median_list.append(median_grade_of_hold(DataFrame.loc[i,"name"]))
    DataFrame["median_grade"] = median_list
    return DataFrame

In [12]:
problems.head()

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236

In [13]:
def force_z(DataFrame):
    force_z_0s = []
    force_z_1s = []
    force_z_2s = []
    for i in range(len(DataFrame)):
        if DataFrame.loc[i,"force_z"] == 0:
            force_z_0s.append(1)
            force_z_1s.append(0)
            force_z_2s.append(0)
        elif DataFrame.loc[i,"force_z"] == 1:
            force_z_0s.append(0)
            force_z_1s.append(1)
            force_z_2s.append(0)            
        else:
            force_z_0s.append(0)
            force_z_1s.append(0)
            force_z_2s.append(1)  
    DataFrame["force_z_0"] = force_z_0s
    DataFrame["force_z_1"] = force_z_1s   
    DataFrame["force_z_2"] = force_z_2s
    return DataFrame

In [14]:
def is_rot_angle_downwards(DataFrame):
    irad = []
    for i in range(len(DataFrame)):  
        rot_angle = DataFrame.loc[i,"rotational_angle"]
        if (4 in rot_angle) or (3 in rot_angle) or (5 in rot_angle):
            irad.append(1)
        else:
            irad.append(0)
    DataFrame["is_downwards"] = irad
    return DataFrame

In [15]:
def only_upwards(DataFrame):
    ou = []
    for i in range(len(DataFrame)): 
        rot_angle = DataFrame.loc[i,"rotational_angle"]
        if (DataFrame.loc[i,"is_downwards"] == 0) and ((not 2 in rot_angle) and (not 6 in rot_angle)):
            ou.append(1)
        else:
            ou.append(0)
    DataFrame["only_upwards"] = ou
    return DataFrame

In [16]:
holds = pd.read_csv("./../dataset/feature-extraction/holds_with_features.csv")
holds.drop(["Unnamed: 0"], axis=1, inplace=True)

 # rotational_angle column
problem_list = []
for value in holds["rotational_angle"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["rotational_angle"] = problem_list

 # grade_distribution column
problem_list = []
for value in holds["grade_distribution"].values:
    value_correct_type = ast.literal_eval(value)
    problem_list.append(value_correct_type)
holds["grade_distribution"] = problem_list

mean_grade(holds)
median_grade(holds)
force_z(holds)
is_rot_angle_downwards(holds)
only_upwards(holds)

,name,grade_distribution,color,black,white,yellow,force_z,rotational_angle,slopeness,mean_grade,median_grade,force_z_0,force_z_1,force_z_2,is_downwards,only_upwards
0,A5,"{'6B+': 5, '6C': 4, '6C+': 7, '7A': 9, '7A+': ...",white,0,1,0,0,[4],NaN,8.491378,5.062500,1,0,0,1,0
1,A9,"{'6B+': 2, '6C': 4, '6C+': 1, '7A': 2, '7A+': ...",black,1,0,0,1,[3],NaN,9.761043,7.593750,0,1,0,1,0
2,A10,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,38.443359,38.443359,1,0,0,1,0
3,A11,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,17.085938,17.085938,1,0,0,1,0
4,A12,"{'6B+': 0, '6C': 0, '6C+': 1, '7A': 1, '7A+': ...",white,0,1,0,0,[4],NaN,18.189593,7.593750,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,K12,"{'6B+': 1, '6C': 1, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,"[5, 3]",NaN,30.092936,25.628906,1,0,0,1,0
136,K13,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[4],NaN,57.665039,57.665039,1,0,0,1,0
137,K14,"{'6B+': 0, '6C': 1, '6C+': 2, '7A': 0, '7A+': ...",black,1,0,0,2,[5],NaN,4.837500,3.375000,0,0,1,1,0
138,K16,"{'6B+': 1, '6C': 1, '6C+': 0, '7A': 0, '7A+': ...",black,1,0,0,1,[4],NaN,3.781250,2.250000,0,1,0,1,0
139,K18,"{'6B+': 5, '6C': 5, '6C+': 4, '7A': 4, '7A+': ...",white,0,1,0,2,[4],NaN,13.397241,7.593750,0,0,1,1,0

In [17]:
def downwards_count(DataFrame):
    dc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].is_downwards.item()
                count = count + value
            else:
                pass
        dc.append(count)

    DataFrame["downwards_count"] = dc
    return DataFrame  
downwards_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7
...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8

In [18]:
def only_upwards_count(DataFrame):
    ouc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].only_upwards.item()
                count = count + value
            else:
                pass
        ouc.append(count)

    DataFrame["only_upwards_count"] = ouc
    return DataFrame  
only_upwards_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0

In [19]:
def yellow_count(DataFrame):
    yc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].yellow.item()
                count = count + value
            else:
                pass
        yc.append(count)

    DataFrame["yellow_count"] = yc
    return DataFrame  
yellow_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,yellow_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,1
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,5
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,8
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,2
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,1
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,1
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,2

In [20]:
def black_count(DataFrame):
    bc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].black.item()
                count = count + value
            else:
                pass
        bc.append(count)

    DataFrame["black_count"] = bc
    return DataFrame  
black_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,yellow_count,black_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,1,3
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,5,1
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,8,0
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,2,3
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,1,2
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,1,2
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,5
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,2,4

In [21]:
def white_count(DataFrame):
    wc = []
    for i in range(len(DataFrame)):
        count = 0
        hold_list = DataFrame.loc[i,"holds"]
        for hold in hold_list:
            if hold[0].isupper():
                value = holds[holds["name"] == hold].white.item()
                count = count + value
            else:
                pass
        wc.append(count)

    DataFrame["white_count"] = wc
    return DataFrame  
white_count(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,yellow_count,black_count,white_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,1,3,0
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,5,1,0
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,8,0,0
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,2,3,3
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,1,2,5
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,1,2,4
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0,7
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,5,0
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,2,4,2

In [22]:
holds.head(10)

,name,grade_distribution,color,black,white,yellow,force_z,rotational_angle,slopeness,mean_grade,median_grade,force_z_0,force_z_1,force_z_2,is_downwards,only_upwards
0,A5,"{'6B+': 5, '6C': 4, '6C+': 7, '7A': 9, '7A+': ...",white,0,1,0,0,[4],NaN,8.491378,5.062500,1,0,0,1,0
1,A9,"{'6B+': 2, '6C': 4, '6C+': 1, '7A': 2, '7A+': ...",black,1,0,0,1,[3],NaN,9.761043,7.593750,0,1,0,1,0
2,A10,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,38.443359,38.443359,1,0,0,1,0
3,A11,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,0,[3],NaN,17.085938,17.085938,1,0,0,1,0
4,A12,"{'6B+': 0, '6C': 0, '6C+': 1, '7A': 1, '7A+': ...",white,0,1,0,0,[4],NaN,18.189593,7.593750,1,0,0,1,0
5,A13,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,1,[4],NaN,12.023438,11.390625,0,1,0,1,0
6,A14,"{'6B+': 3, '6C': 3, '6C+': 6, '7A': 4, '7A+': ...",black,1,0,0,2,[3],NaN,5.998136,3.375000,0,0,1,1,0
7,A15,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",white,0,1,0,1,[3],NaN,38.443359,38.443359,0,1,0,1,0
8,A16,"{'6B+': 0, '6C': 0, '6C+': 0, '7A': 0, '7A+': ...",yellow,0,0,1,1,[3],NaN,60.868652,57.665039,0,1,0,1,0
9,A18,"{'6B+': 3, '6C': 4, '6C+': 2, '7A': 8, '7A+': ...",black,1,0,0,1,[4],NaN,15.913884,7.593750,0,1,0,1,0

In [23]:
problems.head(10)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,yellow_count,black_count,white_count
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,1,3,0
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,5,1,0
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,8,0,0
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,2,3,3
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,8,0,0
5,DANK ENERGY,8A,"[{'Id': 1656077, 'Description': 'I4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",309814,"[I4, E7, F12, D13, I15, I18]",6,"{'I4toE7': 5.0, 'I4toF12': 8.54400374531753, '...",57.665039,12.339844,17.052417,6,0,1,2,3
6,GNIBMILC,8A,"[{'Id': 2148348, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",371579,"[D3, E6, I8, G14, G16, A16, A12, A18]",8,"{'D3toE6': 3.1622776601683795, 'D3toI8': 7.071...",57.665039,9.492188,26.253265,7,1,4,3,1
7,I BURNT OFF MEGOS,8A,"[{'Id': 1844685, 'Description': 'C18', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",62560,"[C18, D6, F15, F9, H9]",5,"{'C18toD6': 12.041594578792296, 'C18toF15': 4....",57.665039,11.390625,17.024332,5,0,5,0,0
8,KAWASCHUWU,8A,"[{'Id': 1857955, 'Description': 'E16', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",62275,"[E16, F10, F6, G2, K5, K12, K18]",7,"{'E16toF10': 6.082762530298219, 'E16toF6': 10....",57.665039,7.593750,16.607729,6,1,2,1,4
9,ONE MOVE WONDER,8A,"[{'Id': 1524277, 'Description': 'D6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",30609,"[D6, F6, G11, H15, H18]",5,"{'D6toF6': 2.0, 'D6toG11': 5.830951894845301, ...",57.665039,25.628906,29.779230,5,0,5,0,0

In [24]:
def one_hot_encode(DataFrame):
    ohe = []
    for i in range(len(DataFrame)):
        grade = DataFrame.loc[i,"Grade"]
        one_hot_encoded = np.zeros(len(grades_numeric_order))
        one_hot_encoded[grades_numeric_order[grade]-1] = 1
        ohe.append(one_hot_encoded)
    DataFrame["Grade_ohe"] = ohe
    return DataFrame
one_hot_encode(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,yellow_count,black_count,white_count,Grade_ohe
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,1,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,5,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,2,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,1,2,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,1,2,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,5,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,2,4,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [25]:
def numeric_encode(DataFrame):
    ne = []
    for i in range(len(DataFrame)):
        grade = DataFrame.loc[i,"Grade"]
        numeric = grades_numeric_order[grade]-1
        ne.append(numeric)
    DataFrame["Grade_numeric"] = ne
    return DataFrame
numeric_encode(problems)

,Name,Grade,Moves,Holdsets,Id,holds,number_of_holds,lengths_of_moves,numeric_grades,median_diff_holds,mean_diff_holds,downwards_count,only_upwards_count,yellow_count,black_count,white_count,Grade_ohe,Grade_numeric
0,BLACK BEAUTY,8B,"[{'Id': 1542554, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",82224,"[J5, I9, E14, H18]",4,"{'J5toI9': 4.123105625617661, 'J5toE14': 10.29...",129.746338,15.345703,19.623801,3,1,1,3,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",11
1,PROJECT 2,8A+,"[{'Id': 1535606, 'Description': 'K6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",62575,"[K6, K7, D10, H14, A16, A18]",6,"{'K6toK7': 1.0, 'K6toD10': 8.06225774829855, '...",86.497559,18.509766,29.576319,6,0,5,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",10
2,SHATTERED MERCY,8A+,"[{'Id': 1596473, 'Description': 'D3', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",241045,"[D3, B4, G7, I8, K12, H14, H15, C18]",8,"{'D3toB4': 2.23606797749979, 'D3toG7': 5.0, 'D...",86.497559,18.509766,27.793141,6,2,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",10
3,ATTIC ADDICT,8A,"[{'Id': 1986894, 'Description': 'E6', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",350783,"[E6, G2, J6, F8, J12, F15, F16, A18]",8,"{'E6toG2': 4.47213595499958, 'E6toJ6': 5.0, 'E...",57.665039,12.339844,21.766030,7,1,2,3,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",9
4,BUNNY,8A,"[{'Id': 1521147, 'Description': 'B4', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",23184,"[B4, G7, H7, K8, K10, K13, G16, H18]",8,"{'B4toG7': 5.830951894845301, 'B4toH7': 6.7082...",57.665039,25.628906,30.831236,7,1,8,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,JUST ANOTHER DAY,6C,"[{'Id': 1555486, 'Description': 'F5', 'IsStart...","[{'Id': 0, 'Description': 'Original School Hol...",125131,"[F5, J5, J8, K11, I12, I14, E15, E18]",8,"{'F5toJ5': 4.0, 'F5toJ8': 5.0, 'F5toK11': 7.81...",2.250000,3.375000,6.274190,8,0,1,2,5,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
447,LE UOVA SODE,6C,"[{'Id': 1680083, 'Description': 'E13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",274947,"[E13, F5, G18, I10, I12, I14, J8]",7,"{'E13toF5': 8.06225774829855, 'E13toG18': 5.38...",2.250000,2.250000,5.305129,7,0,1,2,4,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
448,LOW CARB VAR,6C,"[{'Id': 1527581, 'Description': 'K5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set A', 'Color...",39242,"[K5, G8, D9, H11, E13, B16, E18]",7,"{'K5toG8': 5.0, 'K5toD9': 8.06225774829855, 'K...",2.250000,3.375000,6.059494,7,0,0,0,7,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
449,MAFFEI,6C,"[{'Id': 1523127, 'Description': 'J5', 'IsStart...","[{'Id': 0, 'Description': 'Hold Set B', 'Color...",27102,"[J5, E12, A14, E8, D18]",5,"{'J5toE12': 8.602325267042627, 'J5toA14': 12.7...",2.250000,3.375000,7.024749,5,0,0,5,0,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1
450,MOON CASTLE,6C,"[{'Id': 1844732, 'Description': 'B13', 'IsStar...","[{'Id': 0, 'Description': 'Original School Hol...",196769,"[B13, D18, D10, E12, E16, G9, I5, K5]",8,"{'B13toD18': 5.385164807134504, 'B13toD10': 3....",2.250000,5.062500,9.213323,8,0,2,4,2,"[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",1

In [26]:
problems.to_csv("dataset_draft1.csv")